<br><br>
<% if @user.avatar.present? %>
  <%= image_tag @user.avatar.url(:small), id: "img-big" %>
<% end %>
<h1 id="list-title"><%=@user.username%></h1>
<% if current_user.following?(@user.id)%>
  <%= link_to 'Unfollow', users_unfollow_path(follow_id: @user.id), :class => "waves-effect waves-light btn teal lighten-2", method: :delete%>
<% else %>
  <%= link_to 'Follow', users_follow_path(follow_id: @user.id), :class => "waves-effect waves-light btn-flat", method: :post%>
<% end %>
<br>

    <span style="margin-left: 25%; opacity: 0.4;">A little about <%= @user.username%></span>
      <div class="row" style="width:50%;" id="users-about">
        <div class="card-panel teal lighten-2">
          <span class="white-text">
            <div style="margin-left: auto; margin-right: auto;">
            <% if @user.about != nil%>
              <!-- HASHTAGS -->
              <span><%= redner_with_hashtags_user(@user.about.downcase!) %></span>
              <!-- HASHTAGS -->
              <% end %>
            <% if user_signed_in? %>
              <% if current_user.id == @user.id%>
              <%= link_to '', edit_registration_path(@user), :class => "fa fa-pencil", :style => "color:#fff; float:right; margin-top:1.3em;"%>
              <% end %>
             <% end %>
            </div>
          </span>
        </div>
      </div>


<br><br>

<%= render 'article_card' %>
