<br><br><br><br>
<% if user_signed_in? %>
<% current_user.follows.each do |user| %>
  <% user.articles.last(1).each do |article| %>
<% if user.avatar.present? %>
  <%= image_tag user.avatar.url(:small), id: "img-welcome" %>
  <p style="display: inline; margin-left: 1%"><%= link_to user.username, profiles_path(user.id), id:"user-link" %></p>
  <br>

  <!-- HASHTAGS -->
  <% if user.about != nil%>
    <span class="chip" id="hashtag"><%= redner_with_hashtags_welcome(user.about.downcase)%></span>

    <!-- FAVORITE AN ARTICLE ( USERS WITH HASHTAGS)-->
     <div class="pin-icon">
      <% if current_user %>
        <% if current_user.favorited?(article.id) %>
          <%= link_to(favorite_article_path(article, type: "unfavorite"), method: :put) do %>
            <i class="fa fa-thumb-tack" aria-hidden="true" style="color: #4db6ac; font-size: 40px; margin-top: 10px;"></i>
          <% end %>
        <% else %>
          <%= link_to(favorite_article_path(article, type: "favorite"), method: :put) do %>
          <i class="fa fa-thumb-tack tooltipped" aria-hidden="true" style="color: grey; font-size: 40px;" data-position="bottom" data-delay="0" data-tooltip="Pin this post!"></i>
          <% end %>
        <% end %>
      <% end %>
     </div>

   <% else %>
  <% end %>
<% else %>
  <p style="display: inline; margin-left: 25%"><%= link_to user.username, profiles_path(user.id), id:"user-link-no-img" %></p>

 <!-- FAVORITE AN ARTICLE ( USERS WITH NO HASHTAGS)-->
 <div class="pin-icon">
  <% if current_user %>
    <% if current_user.favorited?(article.id) %>
      <%= link_to(favorite_article_path(article, type: "unfavorite"), method: :put) do %>
        <i class="fa fa-thumb-tack" aria-hidden="true" style="color: #4db6ac; font-size: 40px; margin-top: 20px;"></i>
      <% end %>
    <% else %>
      <%= link_to(favorite_article_path(article, type: "favorite"), method: :put) do %>
      <i class="fa fa-thumb-tack tooltipped" aria-hidden="true" style="color: grey; font-size: 40px; margin-top: 10px" data-position="bottom" data-delay="0" data-tooltip="Pin this post!" ></i>
      <% end %>
    <% end %>
  <% end %>
 </div>
<% end %>
 

    <div class="card" id="article-card">
        <div class="card-content">
        <span style="opacity: 0.2; margin-left: 1.5em; letter-spacing: 1px;"><%= article.created_at.strftime("%d %b %Y") %></span>
        <div style="float: right;">

        <!--VOTE BUTTON -->
         <% if user_signed_in? %>
         <%= link_to '', users_vote_path(article_id: article.id), remote: true, class: "fa fa-chevron-up", id:"glyphicons", method: :post %>
        <% else %>
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <% end %>

          <!-- VOTES COUNTER -->
          <span id="votes-article-<%=article.id%>"><%= article.votes.count %></span>

          <br>

            <!-- DELETE AN ARTICLE -->
            <% if user_signed_in? %> 
              <% if current_user.id == article.user_id %>
                <%= link_to '',  article,class: "fa fa-trash-o",id:"glyphicons", method: :delete, data: { confirm: 'Are you sure?' } %>
                <br>
              <% end %>
            <% end %>
            </div>

            <!-- ARTICLES TITLE -->
          <div style="display: inline;">
            <div style="text-align: center;">
              <%= link_to(article_path(id: article.id), :href => "#view-article-welcome-#{article.id}", :id => "read-mode-icon") do %><br>
               <i class="material-icons">library_books</i>
              <% end %>
            </div>
          <h2><%= article.title %></h2>
          </div>

          <br>
          <p class="more" style="text-align: justify; text-justify: inter-word; opacity: 0.5; letter-spacing: 1px; width: 85%; margin-left: auto; margin-right: auto;"><%=  article.description %></p>
        </div>
        <p id="border"/>

<!-- COMMENTS ICON -->
<i class="fa fa-comments fa-3x" aria-hidden="true" style="opacity:0.1; margin-right: auto; margin-left: auto; margin-top: 20px;"></i>
<% if article.comments.count == 0 %> <!-- If there are no comments - show message -->
  <p style="opacity:0.3;">No comments yet.</p>
  <br>
<% end %>
<br><br>
<% unless article.comments.empty? %>
  <button id="show-comments-btn-<%=article.id%>" class="waves-effect waves-light btn"> Show Comments (<%= article.comments.count %>)</button>
  <button id="hide-comments-btn-<%=article.id%>" class="waves-effect waves-light btn"> Hide Comments </button>
<% end %>

      <!-- COMMENTS -->
      <div id="comments-<%= article.id %>">
              <% article.comments.each do |comment| %>

              <p id="comment-username">
               <%= link_to comment.user.username, profiles_path(comment.user_id), id:"comment-user-link" %>
              </p>
              <p id="comment-created-at">
                <%= comment.created_at.strftime("%d %b %Y") %>
              </p>
              <p id="comment-content" style="text-align: justify; text-justify: inter-word;">
                <%= comment.description %>
               </p>

            <!-- DELETE COMMENT -->
            <% if user_signed_in?%>
                  <% if comment.user_id == current_user.id%>
                      <%= link_to '', [article, comment], remote:true, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-comment", class: "fa fa-trash-o"%> 
                  <% end %>
            <% end %>

                <br>
                <p id="border"/>
              <% end %>
      </div>

 <!-- COMMENT FORM-->
<% if user_signed_in? %>
  <div style="margin-left: auto; margin-right: auto; width:50%;">
      <%= form_for [article, @comment] do |f| %> 
      <br>
        <div class="input-field col s6">
             <label for="comment-text-field">Comment</label>
             <%= f.text_field :description, :class => "materialize-textarea", :length => "240", :id => "comment-text-field" %>
         </div>
      <% end %>
     </div>
<% end %>

    </div>
    <div class="mdl-card__menu" id="article-<%= article.id %>">
      

      <script type="text/javascript">
      //SHOW COMMENT BTN
          $('#comments-<%= article.id %>').hide();
          $('#hide-comments-btn-<%=article.id%>').hide();
          $('#show-comments-btn-<%=article.id%>').on('click', function() {
             $('#comments-<%= article.id %>').fadeToggle();
             $('#hide-comments-btn-<%=article.id%>').show();
             $(this).hide();
          })
          $('#hide-comments-btn-<%=article.id%>').on('click', function() {
            $('#comments-<%= article.id %>').hide();
            $('#show-comments-btn-<%=article.id%>').show();
            $('#hide-comments-btn-<%=article.id%>').hide();
          });


      </script>

      <!-- VIEW ARTICLE FROM TITLE-WELCOME -->
      <div id="view-article-welcome-<%=article.id%>" class="modal modal-custom">
      <div class="modal-content">
        <%= render './articles/show', :article => article, :user => user %>
      </div>
      </div>


        </div>
  </div>
  </div>
  </div>
   <br><br>
    <% end %>
  <% end %>
  <% end %>