<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=600" />
  <title>BlogsAreCool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <ul>
      <span>
        <%= link_to image_tag("BlogsAreCoolLogo.png", id:"title",class:"animated fadeInLeft"), root_path %>
      </span>
      <% if user_signed_in? %>
      <span class="animated fadeIn">
      <li>
          <%= link_to 'Sign Out', destroy_user_session_path,id: "nav-btns", :method => :delete %>
      </li>
      <li>
        <%= link_to 'Settings', edit_user_registration_path,id: "nav-btns" %>
      </li>
      <li>
        <%= link_to current_user.username, profiles_path(current_user),id: "nav-btns" %>
      </li>
      <% else %>
      <li>
          <%= link_to 'Sign up', new_user_registration_path,id: "nav-btns"%>
      </li>
      <li>
          <%= link_to 'Sign in', new_user_session_path,id: "nav-btns"%>
      </li>
      <% end %>
      </span>
    </ul>
<body>
  <% if user_signed_in? %>
    <%= link_to new_article_path, {:class => "mdl-button mdl-js-button mdl-button--fab", :id =>"add-btn", :remote => true, 'data-target' => "#newArticleModal", 'data-toggle' => "modal"} do %>
      <i class="material-icons">add</i>
    <% end %>
  <% end %>
  
  
<!-- Modal -->
<script type="text/javascript">
  $('#newArticleModal').on('shown.bs.modal', function () {
})
</script>


<div class="modal fade" id="newArticleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Write an Article</h4>
      </div>
      <div class="modal-body">
        <%= render './articles/article_form' %>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
