<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=600" />
  <title>BlogsAreCool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <ul class="navbar">
      <span>
        <%= link_to image_tag("BlogsAreCoolLogo.png", id:"title",class:"animated fadeInLeft"), root_path %>
      </span>
      <span class="animated fadeIn">

      <!-- Side Navbar -->
      <script type="text/javascript">
      $(".button-collapse").sideNav({
      edge: 'right',
      menuWidth: 165
      }
      );
      </script>

    <% if user_signed_in? %>
      <li>
         <a href="" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars" style="color: #fff; font-size: 30px;"></i></a>
      </li>
      <% else %>
      <li>
          <%= link_to '', new_user_session_path,id: "user-btn",class: "fa fa-user"%>
      </li>
      <% end %>
      </span>
    </ul>

<body>
  
  <!-- Modal jQuery -->
<script type="text/javascript">
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal()
  });
</script>

  <!-- Modal Trigger -->
    <% if user_signed_in? %>
      <%= link_to new_article_path, href: "#modal1" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true" id="add-btn" ></i>
      <% end %>
    <% end %>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <%= render './articles/article_form' %>
    </div>
  </div>

  <!-- Side Navbar -->

<%  if user_signed_in? %>
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
      </div>
      <%= image_tag(current_user.avatar, id: "img-sidenav") %><br>
      <a href="#!name"><span class="white-text name"><%=current_user.email%></span></a>
    </div></li>
    <li><%= link_to current_user.username, profiles_path(current_user),id: "nav-btns" %></li>
    <li><%= link_to 'Settings', edit_user_registration_path,id: "nav-btns" %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path,id: "nav-btns", :method => :delete %></li>
  </ul>
<% end %>


<script type="text/javascript">

  $(document).ready(function() { 
    // Configure/customize these variables.
    var showChar = 200;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});

</script>

<!-- SCROLLFIRE -->
<script type="text/javascript">
var options = [
  {
    selector: '.navbar', 
    offset: 200, 
    callback: function() {               // Callback needs to be a function.
      $('.navbar').addClass("#second-color-div");    // Reference `.wow` not `this`.
    }
  }
];
Materialize.scrollFire(options);
</script>


<%= yield %>

</body>
</html>
