<!DOCTYPE html>
<html>
<head>
  <title>BlogsAreCool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <ul>
      <span>
        <%= link_to image_tag("BlogsAreCoolLogo.png", id:"title",class:"animated fadeInLeft"), root_path %>
      </span>
      <% if user_signed_in? %>
      <li>
          <%= link_to 'Sign Out', destroy_user_session_path,id: "nav-btns", :method => :delete, id: "sign-out" %>
      </li>
      <li>
        <%= link_to 'Settings', edit_user_registration_path,id: "nav-btns" %>
      </li>
      <li>
        <%= link_to current_user.username, profiles_path(current_user),id: "nav-btns" %>
      </li>
      <% else %>
      <li>
          <%= link_to 'Sign up', new_user_registration_path,id: "nav-btns"%>
      </li>
      <li>
          <%= link_to 'Sign in', new_user_session_path,id: "nav-btns"%>
      </li>
      <% end %>
    </ul>
<body>
  <% if user_signed_in? %>
    <%= link_to new_article_path, class: "mdl-button mdl-js-button mdl-button--fab", id:"add-btn" do %>
      <i class="material-icons">add</i>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
